body {
    text-align: center;
    background: black;
}
h1 {
    color: white;
}
ul {
    color: white;
}
ol {
    color: white;
}
li {
    list-style: none;
}
img {
    size: 200pxl;
    height: 200pxl;
    width: 200pxl;
}